<!DOCTYPE html>
<html lang="en">

<head>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="card text-white bg-info">
        <div class="card-header">Todo List</div>
        <div class="card-body">

            <div id="app">
                <p>Todo List</p>

                <input name="input" v-model="todo ">
                <input type="submit" value="add" @click="storetodo ">
                <ol>
                    <p>
                        <li v-for="todo in todos ">{{todo}}" "<button class="btn btn-success ">edit</button><button class="btn btn-danger ">delete</button></li>
                    </p>

                </ol>


            </div>


        </div>
    </div>



    <script src="app.vue.js "></script>
</body>


</html>