<!DOCTYPE html>
<html lang="en">

<head>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@next"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <p>Todo List</p>

        <input name="input" v-model="todo">
        <input type="submit" value="add" @click="storetodo">
        <ol>
            <li v-for="todo in todos">{{todo}}</li>
        </ol>


    </div>

</body>
<script src="app.vue.js"></script>

</html>